/ if文で分ける
.answer-box-list
  .question-label-info
    #{@user.name}さんが過去に答えた質問
    = render partial: "answer-card", collection: @questions, as: :question
    .no-answer
      %div !!
      まだありません。受け取った質問に回答するとこちらに移動します
