.answer-box
  = link_to user_question_path(@user.id, question.id), { class: "answer-box-wrapper" } do
    .question-date
      %span.question-date
        日付 #{question.date}
    .answer
      ここに回答が入ります！
    .question-show
      = link_to user_question_path(@user.id, question.id), { class: "answer-box-wrapper" } do
        .question-wrapper
          .question-content
            = question.content
