.question-container
  .user-label
    質問に回答しましょう
    .user-form-area
      -# = form_for answer_path(@user, @a_question) do |f|
      = form_for ([@a_user, @a_question, @answer]) do |f|
        = f.text_area :content, { class: 'question-form-area' }
        .question-submit-button
          = f.submit '回答する'
