.question-container
  .user-label
    質問に回答しましょう
    .user-form-area
      = form_for answer_path(@user.id, @a_question.id) do |f|
        = f.text_area :conxtent, { class: 'question-form-area' }
        .question-submit-button
          = f.submit '回答する'
