.you_or_other これは#{@user.name}さんの目安箱です。誰でも匿名で質問を送ることができます。
.container-user-top
  .bar
  .user-label
    織田信長さんの目安箱
  .user-icon
    = image_tag 'user-image.png', {class: 'user-icon'}
  .question-name
    織田信長
  .question-profile
    何でも質問してください!!
