.article{
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  height: 420px;
  width: 360px;
  float: left;
  margin-top: 10px;
  margin-left: 23px;
  a{
    text-decoration: none;
  }
  .article-image{
    box-sizing: border-box;
    height: 25%;
    width: 100%;
    .image{
      height: 100%;
      width: 100%;
      &:hover{
        opacity: .8;
      }
    }
  }
  .picks{
    display: inline-block;
    position: relative;
    bottom: 95px;
    left: 280px;
    width: 80px;
    padding: 5px 10px;
    border: 1px solid white;
    border-right: none;
    background-color: black;
    opacity: 0.7;
    .count{
      display: inline-block;
      color: white;
      font-size: 18px;
      font-weight: bold;
      float: left;
      padding-right: 5px;
    }
    .small-letter{
      display: inline-block;
      float: left;
      color: white;
      padding-top: 5px;
    }
  }
  .title_ellipsised{
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    height: 52px;
    margin: 0 20px 8px;
    overflow: hidden;
    color: black;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    &:hover{
      color: #337ab7;
    }
  }
  .article-user{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    .user-icon{
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-top: 1px;
      margin-left: 25px;
      float: left;
      .icon-image{
        width: 100%;
        height: 100%;
      }
    }
    .user-info{
      display: inline-block;
      height: 32px;
      margin-left: 15px;
      float: left;
      .user-name{
        font-size: 14px;
        font-weight: 700;
        color: black;
        height: 18px;
        display: inline-block;
      }
      .user-status{
        font-size: 12px;
        color: #999;
        height: 17px;
      }
    }
  }
  .article-comment{
    margin: 10px 25px 0;
    .comment-text{
      color: black;
      text-decoration: none;
      font-size: 14px;
      height: 60px;
      overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
    }
    .comment-user{
      .comment-icon{
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
    }
  }

  .footer{
    margin-top: 60px;
    width: 360px;
    border-top: 1px solid #ccc;
    position: relative;
    bottom: 15px;
    padding-left: 15px;
    .publisher{
      display: inline-block;
      float: left;
      font-size: 12px;
      color: #999;
      margin-left: 10px;
    }
    .published{
      display: inline-block;
      float: left;
      font-size: 12px;
      color: #999;
      margin-left: 20px;
    }
  }
}
