.top-article{
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  height: 630px;
  width: 742px;
  float: left;
  margin: 10px 0 20px 23px;
  a{
    text-decoration: none;
  }
  .top-article-image{
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    .image{
      height: 100%;
      width: 100%;
      object-fit: cover;
      &:hover{
        opacity: .8;
      }
    }
  }
  .top-picks{
    display: inline-block;
    position: relative;
    bottom: 300px;
    left: 642px;
    width: 100px;
    padding: 5px 10px;
    border: 1px solid white;
    border-right: none;
    background-color: black;
    opacity: 0.7;
    .top-count{
      display: inline-block;
      color: white;
      font-size: 18px;
      font-weight: bold;
      float: left;
      padding-right: 5px;
    }
    .top-small-letter{
      display: inline-block;
      float: left;
      color: white;
      margin-left: 5px;
      padding-top: 5px;
    }
  }
  .top-title_ellipsised{
    box-sizing: border-box;
    font-weight: bold;
    font-size: 22px;
    height: 60px;
    margin: 0 20px 8px;
    overflow: hidden;
    color: black;
    &:hover{
      color: #337ab7;
    }
  }
  .top-article-user{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    .top-user-icon{
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-top: 1px;
      margin-left: 25px;
      float: left;
      .icon-image{
        width: 100%;
        height: 100%;
      }
    }
    .top-user-info{
      display: inline-block;
      height: 32px;
      margin-left: 15px;
      float: left;
      .top-user-name{
        font-size: 16px;
        font-weight: 700;
        color: black;
        height: 18px;
        display: inline-block;
      }
      .top-user-status{
        font-size: 14px;
        color: #999;
        height: 17px;
      }
    }
  }
  .top-article-comment{
    margin: 10px 25px 0;
    .top-comment-text{
      height: 60px;
      color: black;
      text-decoration: none;
      font-size: 14px;
      overflow: hidden;
    }
    .top-comment-user{
      .comment-icon{
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
    }
  }
  .top-footer{
    margin-top: 60px;
    width: 742px;
    border-top: 1px solid #ccc;
    padding-left: 15px;
    .top-publisher{
      display: inline-block;
      float: left;
      font-size: 12px;
      color: #999;
      margin-left: 10px;
    }
    .top-published{
      display: inline-block;
      float: left;
      font-size: 12px;
      color: #999;
      margin-left: 20px;
    }
  }
}

