.comment-ranking-card
  .comment-ranking-header
    .ranking-order
      .ranking-ribon
        = image_tag 'rank_ribon_first.png', { class: 'ranking-ribon-image'}
        .rank
          1
    .user-cover
      = image_tag 'sky.jpg', { class: 'user-icon'}
    .user-meta
      .name-wrapper
        坂本龍馬
      .title_ellipsised
        海援隊隊長
    .likes
      .like-count
        200
      .small-letter
        Likes
    .follow
      = image_tag 'follow-button.png', { class: 'follow-btn'}
  .comment-box
    .comment-text
      通貨とはそもそも色がなく、トラッキングできないことが非常に都合がよくて、通貨自体が信頼されるためにはとても重要でした。たとえばもしも皆さまの財布にある1万円札が、「それは昔、犯罪者が盗んだものだったから、元の保有者のAさんに返すため回収になります」と言われては、誰も絶対に納得しません。
  .news-box
    .news-title-ellipsised
      【NEM幹部】580億円の流出、「疑惑」の人物はすでにいる
    .publisher-ellipsised
      NewsPicks
