= link_to article_path(article.id) do
  .news-title-list
    .title
      = article.title.truncate(49)
    .meta
      .publisher
        = article.site_name.truncate(20)
      .published
        = article.before_time
