= link_to article_path(article.id) do
  .news-title-list
    .title
      = article.title.truncate(50)
    .meta
      .publisher
        = article.site_name.truncate(20)
      .published
        1年前
