.latest-news
  .area-title
    新着ニュース
  = link_to root_path do        #仮置きのリンク
    .news-title-list
      .title
        坂本龍馬は教科書に必要か 大政奉還や薩長同盟、史実は：朝日新聞に
      .meta
        .publisher
          朝日新聞
        .published
          1年前
