= image_tag article.image, { class: 'slide-image'}
.capture
  .picks
    45
    .small-letter
      Picks
  .title
    = article.title.truncate(50)
  .detail
    .source
      = article.site_name.truncate(20)
    .time
      12時
