- like_sort_users.each_with_index do |user, index|
  - if current_page?(root_path)
    = link_to user_path(user[0].id) do
      = render partial: "shared/user_ranking_card", locals: {user: user, index: index}

  - else 
    = link_to user_path(user[0].id), {remote: true} do
      = render partial: "shared/user_ranking_card", locals: {user: user, index: index}
