.search-result-page
  .search-header
    .header-container
      .tab-container
        .tab-item.top.selected
          トップ
        .tab-item.comment
          コメント
        .tab-item.user
          ユーザー
