.search-tool-bar
  .search-tools
    .search-tool
      .search-tool-button
        .tool-title
          PICK数:
        .tool-value.not-default
          指定なし
        = image_tag 'arrow_bottom.svg', { class: "arrow_bottom" }
    .search-tool
      .search-tool-button
        .tool-title
          期間:
        .tool-value.not-default
          指定なし
        = image_tag 'arrow_bottom.svg', { class: "arrow_bottom" }
    .search-tool
      .search-tool-button
        .tool-title
          ソート順:
        .tool-value.not-default
          おすすめ
        = image_tag 'arrow_bottom.svg', { class: "arrow_bottom" }
