.tab-container
  .tab-item.user-ranking
  = link_to "ユーザーランキング", user_ranking_page_path, { class: 'tab-item user-ranking'}
  = link_to "コメントランキング", comment_ranking_page_path, { class: 'tab-item comment-ranking'}
  = link_to "ユーザー", about_users_path, { class: 'tab-item user'}
