.ranking-wrapper
  = render partial: "shared/header"
  = render partial: "shared/side-bar"

  .ranking-library-page
    .ranking-header
      = render partial: "ranking-header"
    .ranking-main-container
      .ranking-selected
        = render partial: '/articles/comment-ranking', locals: { comments: @comments}
