- if current_user.following? user
  .show-follow-btn
    = link_to user_follow_path(user.id, follow), {id: 'show-follow-btn', method: :delete} do
      = image_tag 'following-btn.png'
- else
  .show-follow-btn
    = link_to user_follows_path(user.id), {id: 'show-follow-btn', method: :post} do
      = image_tag 'follow-button.png'