.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  .background {
    position: fixed;
    background-color: #15274D;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }
  .modal-content-wrapper {
    #modal-content {
      position: relative;
      .close-btn {
        position: absolute;
        top: -30px;
        right: 380px;
        width: 25px;
        height: 25px;
      }
      .urlpickpanel {
        width: 42%;
        margin: 10% auto 0;
        padding:10px 20px;
        background:#fff;
        z-index:2;
        border-radius: 5px;
        position: relative;
        .pick-form {
          margin: 25px 20px;
          .message {
            text-align: center;
            font-size: 145%;
            margin: 20px 10px;
          }
          .url-group {
            #url-pick-box{
              width: 100%;
              height: 40px;
              border-radius: 5px;
              border: 0.5px solid;
              border-color: #ccc;
              padding: 8px;
              resize: none;
            }
            .notfound {
              color: red;
              margin: 20px 0;
              display: none;
            }
            .urlpick-dialog-content{
              .pick-site{
                .pageinfo{
                  margin: 15px 0;
                  .page-thumbnail{
                    float: left;
                  }
                  .texts{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 5px 0 5px 5px;
                    .title_ellipsised{
                      font-weight: bold;
                      font-size: 18px;
                    }
                    .summary_ellipsised{
                      font-size: 14px;
                      margin-top: 10px;
                    }
                  }
                }
              }
              .cover-controls{
                display: none;
                margin-top: 25px;
                .cover{
                  float: left;
                }
                .comment-container{
                  float: right;
                  .comment{
                    height: 120px;
                    width: 450px;
                    border-radius: 5px;
                    border: 0.5px solid;
                    border-color: #ccc;
                    outline: 0;
                    padding: 16px;
                    resize: none;
                  }
                }
                .pick-control{
                  clear: both;
                  display: -webkit-flex;
                  display: -moz-flex;
                  display: -ms-flex;
                  display: -o-flex;
                  display: flex;
                  justify-content: flex-end;
                  padding-top: 10px;
                  margin-right: 90px;
                  .description{
                    margin-left: 10px;
                  }
                  .sns.twitter{
                    margin-left: 10px;
                  }
                  .sns.facebook{
                    margin-left: 10px;
                  }
                }
              }
            }
            .pick{
              margin-left: 10px;
              position: absolute;
              right: 40px;
              bottom: 20px;
              display: none;
              .pick-font{
                padding: 10px 25px;
                border-color: #27375c;
                background-color: #27375c;
                color: #FFF;
              }
            }
          }
        }
      }
    }
  }
}
