.field-page{
  width: calc(100vw - 185px);
  position: absolute;
  top: 50px;
  left: 185px;
  background-color: #EFEFEF;
  overflow: auto;
  .field-header{
    height: 50px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-left: solid 0.5px #EAEAEA;
    .field-header-title{
      font-size: 16px;
      font-weight: 600;
      padding-top: 12px;
      padding-left: 50px;
    }
  }
  .field-contents{
    margin-left: 30px;
    .field-container{
      display: inline-block;
      float: left;
      width: 770px;
      height: 400px;
    }
    .latest-news{
      margin-left: 40px;
      background-color: #EFEFEF;
      float: left;
      .area-title{
        color: #15274D;
        font-weight: 700;
        margin-bottom: 30px;
      }
      .news-title-list{
        display: block;
        box-sizing: border-box;
        padding: 0 15px 0 0;
        margin-bottom: 10px;
        .title{
          display: inline-block;
          width: 240px;
          font-size: 14px;
          font-weight: 700;
          float: left;
          color: black;
          padding-top: 5px;
        }
        .latest-news-image-box{
          display: inline-block;
          float: left;
          width: 80px;
          height: 80px;
          margin-right: 10px;
          .latest-news-image{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
