.notification {
  .notice {
    background: white;
    color: blue;
    text-align: center;
    position:relative;
    z-index: 9000;
  }

  .alert {
    background-color: #2fc7f9;
    color: white;
    text-align: center;
    position: relative;
    z-index: 9000;
  }
}